body{
    cursor: pointer;
} 
a{
    text-decoration:none;
    color: black;
}

h1{
   font-family:Arial;
   margin-left: 1em;
   position: relative;
    bottom:7em;
}

.container{
    background-color:#e9e6e6a2;
    width:83%;
    display: flex;
    padding-left: 1em;
    -ms-flex-align: center;
    flex-direction: column;
    border:10px white solid;
    padding-bottom:54px;
    margin-left: 9em;
    position: relative;
    bottom:5em;  
    margin-bottom: 12em;
    padding-top: 0px;
}

p{
    width:31%;
    position: relative;
    margin-left: 2em;
    bottom:14em;
    margin-top:0px;
}





a:hover{
    text-decoration: underline;
    text-underline-offset: 2;
    text-decoration-skip:spaces;
    

}





.navbar{
display: flex;
padding: 1.5rem;
margin: 1.2rem;
position: relative;
bottom:5em;
justify-content: space-around;

}

.nav-btns{
    font-family:Helvetica Neue;
    word-spacing: 2em;
    position: relative;
    top:4em;
    right:16em;
}


#nav-links:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-decoration-color: black;
}
.nav-section{
        word-spacing:3em;
}

#sec-links{
     position: relative;
     top:4em;
     right:4em;
}

#sec-links:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: none;
    text-decoration-color: black;
}



.sec-btn{
    background-color: black;
    color:white;
    
    border: 1px transparent;
    line-height: 4px;
    padding:18px 30px;
    position: relative;
    bottom:14em;
    font-family: Segoe UI Semibold;
    margin-right:2em;
    display: inline-block;
    margin-left:31px;
    
} 

.sec-btn a{
    text-decoration:none;
    color: white;
}


.sec-btn:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    display: inline-flex;
    flex-direction: row;

}


.sec-btn span{
    text-decoration:none;
}


 #img-5{
    position: relative;
    left:544px;
    top:116px;
}

#img-4{
    position: relative;
    left:66em;
    top:3em;
}

#img-3{
    position: relative;
    left: 76em;
    top:3em;
}

#img-2{
    position: relative;
    left:1043px;
    top:36px;
}

#img-1{
     position: relative;
     top:43px;
     margin-left: 3em;
} 




