body{
    margin-left:37px;
    margin-top: 0px;
} 
a{
    text-decoration:none;
    color: black;
}

h1{
   font-family:Arial;
   margin-left: 1em;
   position: relative;
    bottom:139px;
}

.container{
    background-color:#e9e6e6a2;
    width:83%;
    display: flex;
    padding-left: 1em;
    flex-align: center;
    flex-direction: column;
    border:22px white solid;
    padding-bottom:124px;
    margin-left: 9em;
    margin-bottom:3em;
    padding-top: 0px;
}

p{
    width:31%;
    position: relative;
    margin-left: 2em;
    bottom:139px;
    margin-top:0px;
}

.sec-btn{
    background-color: black;
    color:white;
    width: fit-content;

    padding: 0.7em;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    bottom:114px;
    font-family: Segoe UI Semibold;
    margin-right:2em;
    margin-top: 0px;
    display: inline-block;
    margin-left:31px;
    
} 





.sec-btn{
    color:rgba(0, 0, 0, 0.788);
    background-color: #000000a2;
    position: relative;
    bottom:131px;
    display:inline;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}

.navbar{
display: flex;
padding: 1.5rem;
margin: 1.2rem;
justify-content: space-around;

}

.nav-btns{
    font-family:Helvetica Neue;
    word-spacing: 2em;
    position: relative;
    top:4em;
    right:21em
}

.nav-btns:hover{
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-style: wavy;
}
.nav-section{
        position: relative;
        top:4em;
        right:7em;
        word-spacing:3em;
}

.nav-section:hover{
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-style: dotted;

}

 #img-5{
    position: relative;
    left:544px;
    top:146px;
}

#img-4{
    position: relative;
    left:69em;
    top:3em;
}

#img-3{
    position: relative;
    left: 79em;
    top:3em;
}

#img-2{
    position: relative;
    left:1095px;
    top:36px;
}

#img-1{
     position: relative;
     top:43px;
     right:1em;
     margin-left: 3em;
} 




